<div class="row">
    <h1>Estadisticas</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
       <circle-progress
           [percent]="85"
           [radius]="100"
           [showUnits]="false"
           [title]="'HTML'"
           [titleColor]="'black'"
           [titleFontSize]="'1cm'"
           [showSubtitle]="false"
           [outerStrokeWidth]="14"
           [innerStrokeWidth]="5"
           [outerStrokeColor]="' gray'"
           [innerStrokeColor]="'blue'"
           [animation]="true"
           [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'black'"
            [titleFontSize]="'1cm'"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="' gray'"
            [innerStrokeColor]="'blue'"
            [animation]="true"
            [animationDuration]="500"
         ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'black'"
            [titleFontSize]="'1cm'"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="' gray'"
            [innerStrokeColor]="'blue'"
            [animation]="true"
            [animationDuration]="500"
         ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'black'"
            [titleFontSize]="'1cm'"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="' gray'"
            [innerStrokeColor]="'blue'"
            [animation]="true"
            [animationDuration]="500"
         ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'black'"
            [titleFontSize]="'1cm'"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="' gray'"
            [innerStrokeColor]="'blue'"
            [animation]="true"
            [animationDuration]="500"
         ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'black'"
            [titleFontSize]="'1cm'"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="' gray'"
            [innerStrokeColor]="'blue'"
            [animation]="true"
            [animationDuration]="500"
         ></circle-progress>
     </div>

</div>
