<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">LAURA CAÑETE</p>
        <P>Full Stack developer Jr</P>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <samp>
            <h1>Acerca de Mi</h1>
            <p>Hola, soy Laura Cañete, tengo 44 años, soy empleada publica en salud,estudie tecnica en estadistica,bioseguridad y varios cursos mas.
                Actualmente estoy cursando Argentina Progama.
            </p>
        </samp>
    </div>

</div>
