<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Encriptador</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Totam incidunt esse provident ex? 
                Quidem est accusantium voluptatum quos quis similique vitae, 
                aspernatur dolorem molestias dicta illum ipsum ad dolor eum!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offeset-md-1 offeset-lg-1 parte2">
            <img src="../../../assets/amanecer.jpg" class="img-fluid img-poryecto">
        </div>

    </div>

</div>
