<div class="row">
    <h1>Estudios Realizados</h1>
    <div class="col-lg-9">
        <ul>
            <li>
                <h1>curso 1 </h1>  <h3>tiempo</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Laborum iusto numquam iste est cupiditate sunt pariatur necessitatibus fuga reiciendis, 
                corporis quibusdam deserunt dolor quasi! Facere cum doloremque eligendi natus commodi.</p>
        </ul>
        <ul>
            <li>
                <h1>curso 1 </h1>  <h3>tiempo</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Laborum iusto numquam iste est cupiditate sunt pariatur necessitatibus fuga reiciendis, 
                corporis quibusdam deserunt dolor quasi! Facere cum doloremque eligendi natus commodi.</p>
        </ul>
        <ul>
            <li>
                <h1>curso 1 </h1>  <h3>tiempo</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Laborum iusto numquam iste est cupiditate sunt pariatur necessitatibus fuga reiciendis, 
                corporis quibusdam deserunt dolor quasi! Facere cum doloremque eligendi natus commodi.</p>
        </ul>
        <ul>
            <li>
                <h1>curso 1 </h1>  <h3>tiempo</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Laborum iusto numquam iste est cupiditate sunt pariatur necessitatibus fuga reiciendis, 
                corporis quibusdam deserunt dolor quasi! Facere cum doloremque eligendi natus commodi.</p>
        </ul>
        <ul>
            <li>
                <h1>curso 1 </h1>  <h3>tiempo</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Laborum iusto numquam iste est cupiditate sunt pariatur necessitatibus fuga reiciendis, 
                corporis quibusdam deserunt dolor quasi! Facere cum doloremque eligendi natus commodi.</p>
        </ul>
        <ul>
            <li>
                <h1>curso 1 </h1>  <h3>tiempo</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Laborum iusto numquam iste est cupiditate sunt pariatur necessitatibus fuga reiciendis, 
                corporis quibusdam deserunt dolor quasi! Facere cum doloremque eligendi natus commodi.</p>
        </ul> 

    </div>

</div>
